<a href="https://colab.research.google.com/github/AjMing/Pattern-EGCI463/blob/main/Example_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Loading Data

In [ ]:
import pandas as pd
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
df1 = pd.read_csv(url,header=None)

In [ ]:
df1

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
import io
from google.colab import files
uploaded = files.upload()

Saving Iris.csv to Iris.csv

In [ ]:
df2 = pd.read_csv(io.BytesIO(uploaded['Iris.csv']))
# Dataset is now stored in a Pandas Dataframe

In [ ]:
df2

      Id  SepalLengthCm  ...  PetalWidthCm         Species
0      1            5.1  ...           0.2     Iris-setosa
1      2            4.9  ...           0.2     Iris-setosa
2      3            4.7  ...           0.2     Iris-setosa
3      4            4.6  ...           0.2     Iris-setosa
4      5            5.0  ...           0.2     Iris-setosa
..   ...            ...  ...           ...             ...
145  146            6.7  ...           2.3  Iris-virginica
146  147            6.3  ...           1.9  Iris-virginica
147  148            6.5  ...           2.0  Iris-virginica
148  149            6.2  ...           2.3  Iris-virginica
149  150            5.9  ...           1.8  Iris-virginica

[150 rows x 6 columns]

In [ ]:
from google.colab import drive

drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
print(df2[1])

KeyError: ignored

In [ ]:
print(df2.iloc[1])

Id                         2
SepalLengthCm            4.9
SepalWidthCm               3
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
Name: 1, dtype: object

In [ ]:
print(df2.iloc[1][5])

Iris-setosa

In [ ]:
print(df2['SepalLengthCm'])

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: SepalLengthCm, Length: 150, dtype: float64

In [ ]:
print(df2.iloc[1]['SepalLengthCm'])
print(df2.loc[1]['SepalLengthCm'])

4.9
4.9

In [ ]:
import numpy as np
data=np.array([[' ', 'C1','C2'], ['R1',1,2], ['R2',3,4],])
df=pd.DataFrame(data=data[1:,1:],
                       index=data[1:,0],
                       columns=data[0,1:])
print(df[0:2])
print(df['C1'])
print(df.shape)
df.describe()

   C1 C2
R1  1  2
R2  3  4
R1    1
R2    3
Name: C1, dtype: object
(2, 2)

       C1 C2
count   2  2
unique  2  2
top     1  2
freq    1  1

In [ ]:
df['C3']=''
df

   C1 C2 C3  C4
R1  1  2      5
R2  3  4      6

In [ ]:
df['C4']=[5,6]
df

   C1 C2 C3  C4
R1  1  2      5
R2  3  4      6

   C1 C2  C4
R1  1  2   5
R2  3  4   6

**TASK 1:**
*Import* ‘iris’ data (.csv format)
  Display

1.   Display the last 10 elements
2.   Copy the second column(width) to a list
3.   Display the first 10 elements
4.   Drop the last column
5.   Write a function to print only the specified range (of the remaing column)

**TASK2**
1.   Create a new column called Species_label
2.   change name in Species to 0,1,2 in Species_label
3.   Print mean,var group by Species label

**TASK3**


1.   USE test.csv
2.   Create a 'sum score' column
3.   Plot (scatter) by id based on a sum