<a href="https://colab.research.google.com/github/AjMing/Pattern-EGCI463/blob/main/Week1/Week1_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Loading Data

**TASK 1:**
*Import* ‘iris’ data (.csv format)
  Display

1.   Display the last 10 elements
2.   Copy the second column(width) to a list
3.   Display the first 10 elements
4.   Create a new column called Species_label
5.   change name in Species to 0,1,2 in Species_label

**TASK2**
![image.png]()
1.   Find mean/median/min/max/average for each column
2.   Print mean,var,min,max group by Species label
3.   Plot (scatter) each data based on each type

**TASK3**


Try using describe() function

**TASK4**


Show 1 animal each from